/* web settings */

html {
    background-color:#FFC0CB;
}

div.wrapper {
    background-color:#CCC;
    width:100%;
    margin:auto;
    overflow:auto;
}

header{
    clear:both;
    text-align: center;
    font-family: sans-serif;
    padding:1em;
    width: 90%;
    margin:auto;
}

p {
    clear:both;
    text-align: center;
    font-family: sans-serif;
    padding:1em;    
}

section {
    clear:both;
    text-align: center;
    font-family: sans-serif;
    padding:1em; 
}

footer {
    clear:both;
    text-align: center;
    font-family: sans-serif;
    padding:1em;
}


